{% extends "html.html" %}
{% block html %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="alert alert-warning alert-dismissible col-sm-2 col-md-offset-5" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
        <div id="to-append-data">
            {% for post in posts %}
                <div class="post" id="post{{ post.id }}">
                    <div>
                        <h1><a href="{% url 'post_detail' pk=post.id %}"><span
                                id="title{{ post.id }}">{{ post.title }}</span></a></h1>
                        <small style="color: gray"> by {{ post.author }}</small>
                        <small class="date">
                            {{ post.created_date }}
                        </small>
                    </div>
                    <br>
                    <p id="text{{ post.id }}">{{ post.text|linebreaksbr }}</p>

                    <div id="owner{{ post.id }}">
                        <button type="button" class="btn" data-toggle="modal"
                                data-target="#deModal{{ post.id }}">
                            delete
                        </button>
                        <div class="modal fade" id="deModal{{ post.id }}" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <p>are you sure you want to delete this post</p>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">no
                                        </button>
                                        <button type="button" class="btn btn-default" id="delete{{ post.id }}"
                                                onclick="deletePost({{ post.id }})">
                                            yes
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn" data-toggle="modal"
                                data-target="#myModal{{ post.id }}">
                            edit
                        </button>
                        <div class="modal fade" id="myModal{{ post.id }}" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>title</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input value="{{ post.title }}" class="title{{ post.id }}"></td>
                                            </tr>
                                            <td>
                                                <label>post</label>
                                            </td>
                                            <tr>
                                                <td>
                                                    <textarea class="text{{ post.id }}">{{ post.text }}</textarea>
                                                </td>
                                            </tr>
                                            <tr id="{{ post.id }}">
                                                <td>
                                                    <button id="editPost{{ post.id }}" type="button"
                                                            onclick="addEditPost(this.closest('tr'))">save
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <script>
                    if ('{{ username }}' != '{{ post.author }}') {
                        document.getElementById("owner{{ post.id }}").style.display = "none";
                    }

                </script>
            {% endfor %}
        </div>
        <div class="post">
        {% if userlogedin %}
            <table>
                <tr>
                    <td>
                        <label>title</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input placeholder="type new title" class="title-post"></td>
                </tr>
                <td>
                    <label>post</label>
                </td>
                <tr>
                    <td>
                        <textarea placeholder="type new post here" class="text-post"></textarea></td>
                </tr>
                <tr id="{{ post.id }}">
                    <td>
                        <button class="btn-primary post-button" onclick="addEditPost(this.closest('tr'))">post</button>
                    </td>
                </tr>
            </table>
        {% endif %}
    {% endblock content %}
<script>
    var username = "{{ username }}";

</script>
</div>
{% endblock %}